xmltodict
pydantic
Bio
langchain
langchain-core
langchain-openai
langchain-pinecone
pinecone-client
openpyxl
psycopg2-binary
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
ecdsa
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
packaging
pandas
Pillow
protobuf==3.20.3
pyarrow
pyasn1
pydeck
Pygments
python-dateutil
python-dotenv
python-jose
pytz
referencing
requests
rich
rpds-py
rsa
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp
./dependencies/streamlit_auth0_component-0.1.6-py3-none-any.whl